.QWE {
    background-color: red;
    color: yellow;
}
#WRE {
    background-color: green;
    color: white;
}
#tyu {
    background-color: black;
    color: orange;
}

#qwe { background-color: red }
#wer { background-color: blue }
.qwe { background-color: red; color: white }
.wer { background-color: blue; color: white }