.wd-active{
    color: rgb(29, 161, 242);
    text-underline-offset: 16px;
    text-decoration-thickness: 3px;
}

.wd-round-corners-left{
    border-radius: 30px 0 0 30px;
}

.wd-round-corners-right{
    border-radius: 0 30px 30px 0;
}

.wd-search-bar-left{
    border-radius: 20px 0 0 20px;
    border-right-width: 0 1px 1px 1px;
}

.wd-search-bar-right{
    border-radius: 0 20px 20px 0;
    border-width: 1px 1px 1px 0;
    -webkit-appearance:none;
}

.wd-magnifying-glass{
    float: left;
    padding: 8px 12px 8px 12px;
    width: 10px;
    height: 10px;
}

.wd-gear{
    float: right;
    padding-right: 12px;
    width: 60px;
    height: 33px;
}

.wd-navigator-element{
    float: left;
    width: 10%;
    font-size: 15px;
    padding: 16px;
}

.wd-article-image{
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.wd-logo{
    width: 50px;
    height: 50px;
}

.wd-col-1{
    float: left;
    width: 20%;
}

.wd-col-2{
    float: left;
    width: 50px;
    white-space: nowrap;
    z-index: 1;
}

.wd-col-3{
    float: right;
    z-index: auto;
}